<template>
  <h1>Equipos de Fútbol</h1>
  <div class="container">
    <EquiposTable />
  </div>  
</template>


<script>
// @ is an alias to /src
import EquiposTable from '../components/EquiposTable.vue'
export default {
  components: {
    EquiposTable
  }
};
</script>
