<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <Info/>
  </div>
</template>

<script>
// @ is an alias to /src
import Info from '@/components/Info.vue'

export default {
  name: 'Home',
  components: {
    Info
  }
}
</script>
