<template>
  <h1>Importación de Excel</h1>
  <div class="container">
    <LigaForm />
  </div>  
</template>


<script>
import LigaForm from '../components/LigaForm.vue'
export default {
  components: {
    LigaForm
  }
};
</script>
