<template>
  <table class="table table-hover table-bordered" id="tabla_equipos">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody v-if="equipos.length > 0">
      <tr v-for="equipo in equipos" :key="equipo.id">
        <td>{{ equipo.id }}</td>
        <td>{{ equipo.nombre }}</td>
      </tr>
    </tbody>
    <tbody v-else>
      <tr>
        <td colspan="2">No hay datos para mostrar.</td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import API from "../api";
export default {
  methods: {
    async obtenerEquipos() {
      try {
        const response = await API.get("equipos");
        this.equipos = response.data.equipos;
      } catch (error) {
        alert("Error al obtener los datos.");
      }
    },
  },
  created() {
    this.obtenerEquipos();
  },
  data() {
    return {
      equipos: [],
    };
  },
};
</script>
