<template>
  <form @submit.prevent="subirArchivo" ref="formLiga">
    <div class="form-group">
      <input
        type="file"
        class="form-control-file"
        id="archivo"
        @change="onChange"
        ref="archivo"
        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
      />
    </div>
    <br />
    <div class="form-group">
      <button class="btn btn-success">Enviar</button>
    </div>
  </form>
</template>
<script>
import API from '../api'
export default {
  data() {
    return {
      archivo: null,
      fullPage: false,
    };
  },
  methods: {
    onChange(event) {
      this.archivo = event.target.files[0];
    },
    async subirArchivo() {
      let loader = this.$loading.show({
        container: this.fullPage ? null : this.$refs.formLiga,
      });
      const formData = new FormData();
      formData.append("archivo", this.archivo, this.archivo.name);
      try {        
        const response = await API.post('ligas/guardar-equipos',formData)
        this.$refs.archivo.value = "";
        this.archivo = null;
        alert(response.data.message);
      } catch (error) {
        alert("Error al subir los datos.");
      }
      loader.hide();
    },
  },
};
</script>

<style></style>
